.background{
	-fx-background-color:white;
}
.menu{
	-fx-background-color: linear-gradient(to top, #4975b2, #7072ab);
	-fx-text-fill: lightgray;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-border-color: transparent;
	-fx-background-radius: 0px 0px 15px 0px;
}